<%- include('partials/header.ejs') %>
<h1>Home</h1>

<p><%= content %></p>  

<% posts.map((e)=>{ %>
    <h1><%= e.postTitle %></h1>
    <p><%= e.postbody.slice(0,100) %>...  <a href='/post/<%= e.postTitle %>'>Read more</a></p>  
    <% }) %>
<%- include('partials/footer.ejs') %>